@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }

    scroll-behavior: smooth;
    interpolate-size: allow-keywords;

    --background: 0 0% 100%;
    --foreground: 180 100% 2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary-foreground: 210 40% 98%;

    --primary: 200, 82%, 63%;
    --primary50: 200, 64%, 92%;
    --primary75: 200, 50%, 80%;
    --primary100: 200, 50%, 80%;
    --primary200: 200, 38%, 61%;
    --primary300: 200, 42%, 52%;
    --primary400: 200, 50%, 45%;
    --primary500: 200, 61%, 38%;
    --primary600: 200, 71%, 31%;
    --primary700: 200, 78%, 23%;
    --primary800: 200, 82%, 15%;
    --primary900: 200, 85%, 8%;

    --secondary: 338, 82%, 63%;
    --secondary50: 338, 25%, 92%;
    --secondary100: 338, 50%, 80%;
    --secondary200: 338, 38%, 61%;
    --secondary300: 338, 42%, 52%;
    --secondary400: 338, 50%, 45%;
    --secondary500: 338, 61%, 38%;
    --secondary600: 338, 71%, 31%;
    --secondary700: 338, 78%, 23%;
    --secondary800: 338, 82%, 15%;
    --secondary900: 338, 85%, 8%;

    --gray50: 0 0% 100%;
    --gray100: 220 33% 97%;
    --gray200: 216 28% 93%;
    --gray300: 219 22% 87%;
    --gray400: 220 15% 80%;
    --gray500: 220 10% 70%;
    --gray600: 219 6% 58%;
    --gray700: 218 5% 42%;
    --gray800: 220 5% 14%;
    --gray900: 240 3% 6%;

    --gradient-primary-from-color: #f8d973;
    --gradient-primary-to-color: #ffc811;

    --gradient-primary-disabled-from-color: rgba(232, 236, 242, 1);
    --gradient-primary-disabled-to-color: rgba(232, 236, 242, 1);

    --surface: 200, 20%, 98%;

    --b-100: 200, 26%, 95%;
    --B-200: 200, 15%, 91%;
    --B-300: 200, 7%, 83%;

    --T-Headings: 201, 85%, 8%;
    --T-Body-50: 200, 33%, 97%;
    --T-Body-100: 200, 7%, 72%;
    --T-Body-200: 200, 3%, 50%;
    --T-Body-300: 200, 3%, 24% --T-Body-400: 200, 3%, 7%;

    --BG-50: 0, 0%, 87%;
    --BG-100: 200, 33%, 97%;
    --BG-200: 200, 26%, 95%;
    --BG-300: 200, 25%, 91%;
    --BG-400: 200, 18%, 85%;

    --success: 145, 52%, 51%;
    --success-dark: 145, 52%, 10%;
    --success-light: 145, 71%, 95%;

    --error: 7, 100%, 61%;
    --error-dark: 7, 52%, 10%;
    --error-light: 7, 71%, 95%;

    --warning: 44, 94%, 65%;
    --warning-dark: 44, 52%, 10%;
    --warning-light: 44, 71%, 95%;

    --info: 210, 92%, 63%;
    --info-dark: 210, 52%, 10%;
    --info-light: 210, 71%, 95%;

    --I-500: 200, 10%, 89%;
    --I-600: 206, 6%, 77%;
    --I-700: 200, 5%, 42%;
    --I-800: 200, 5%, 29%;

    --N-D-100: 0, 0%, 87%;
    --N-D-300: 168, 1%, 75%;
    --N-D-500: 168, 1%, 50%;
    --N-D-900: 168, 1%, 5%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply box-border border-border;
  }

  body {
    @apply bg-white text-gray-900;
  }

  #inputFile::-webkit-file-upload-button {
    @apply invisible;
  }

  .container-overflow::-webkit-scrollbar {
    @apply hidden h-0 w-0;
  }

  .custom-scroll::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }

  .custom-scroll::-webkit-scrollbar-track {
    @apply rounded-3600 bg-gray-300;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    @apply rounded-3600 bg-gray-500;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }

  ::-webkit-scrollbar {
    @apply h-1.5 w-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-300;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }

  .iconify-bold > g,
  .iconify-bold > path {
    @apply stroke-[2.5px];
  }

  .iconify-normal > g,
  .iconify-normal > path {
    @apply stroke-[1.5px];
  }
}
